<section id="home" class="home">
  <div class="container-fluid home-container" style="padding-left:0px;padding-right:0px;">

        <div class="col-md-7 col-lg-6 col-sm-12 col-xs-12 home-right" style="padding:150px;float:right;">
          <div class="logo-container">
            <svg version="1.0"
             width="100%" viewBox="0 0 89.000000 94.000000"
             preserveAspectRatio="xMidYMid meet">
             <defs>
               <linearGradient id="Gradient2" x1="0" x2="1" y1="0" y2="0">
                  <stop offset="0%" stop-color="#d4327b"/>
                  <stop offset="55%" stop-color="#e95823"/>
                  <stop offset="95%" stop-color="#cd2b1e"/>
                </linearGradient>
             </defs>
            <g transform="translate(0.000000,94.000000) scale(0.100000,-0.100000)"
            >
            <path class="path" id="logo" d="M328 801 c-244 -96 -307 -409 -118 -585 77 -73 126 -91 240 -91 76 0
            104 4 141 21 l45 21 28 -23 c15 -13 36 -24 47 -24 28 0 75 26 83 45 3 9 6 150
            6 314 l0 298 -23 21 c-34 32 -87 29 -121 -5 -17 -17 -30 -23 -34 -16 -26 41
            -211 56 -294 24z m255 -33 l47 -20 0 -81 0 -81 -32 32 c-107 103 -279 70 -341
            -66 -7 -16 -15 -21 -26 -15 -9 4 -33 7 -53 8 -47 0 -48 12 -9 80 86 151 257
            209 414 143z m160 21 c12 -7 25 -17 29 -23 4 -6 8 -84 8 -174 0 -139 -3 -172
            -21 -224 -24 -71 -64 -127 -114 -158 -20 -12 -32 -27 -29 -32 4 -6 2 -8 -3 -5
            -6 4 -30 0 -53 -8 -111 -39 -250 -7 -336 79 -102 103 -128 276 -41 276 28 0
            57 -28 57 -55 0 -71 53 -148 124 -181 57 -26 91 -29 151 -13 48 14 130 91 121
            114 -3 9 -2 14 3 11 16 -10 21 37 21 200 0 176 4 190 58 203 2 1 13 -4 25 -10z
            m-209 -159 c86 -41 125 -167 77 -246 -70 -115 -235 -123 -306 -16 -104 157 60
            344 229 262z"/>
            </g>
            </svg>

            <style type="text/css">
              .path {
                /*stroke-dasharray: 2500;
                stroke-dashoffset: 2500;
                -webkit-animation: dash 5s linear forwards;
                animation: dash 5s linear forwards;*/
                fill:url('#Gradient2');
                stroke:none;
              }

              .animatedlogo {
                /*-webkit-animation-delay: 5s;
                animation-delay: 5s;*/
                -webkit-animation: fillColor 5s linear forwards;
                animation: fillColor 5s linear forwards;
                fill:url('#Gradient2');
                stroke:none;
              }

              @keyframes dash {
                from{
                  stroke-dasharray: 2500;
                  stroke-dashoffset: 2500;
                }
                to{
                  stroke-dasharray: 0;
                  stroke-dashoffset: 0;
                }
              }

              @keyframes fillColor {
                from{
                  fill: none;
                  stroke: #000;
                }
                to{
                  stroke: none;
                  fill: url('#Gradient2');
                }
              }
            </style>
          </div>
        </div>

        <div class="col-md-5 col-lg-6 col-sm-12 col-xs-12" style="float:left">
          <div class="home-inner">
            <div class="home-content" id="about-link">
              <h1 class="home-title"><span>Amit</span> <span style="color:#e3e3e3;">Rai</span></h1>
              <h2 class="home-subtitle">
                I am <span class="home-subtitle-roles"></span>
              </h2>
              <a class="home-down bounce" href="#about"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>

    </div>
</section>

<section id="about">
  <div class="container about-container">
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1 about-bracket-wrapper">
      <p class="about-me-left-bracket">
        {
      </p>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 about-section">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <h2 class="about-me-header">
          <span class="about-me-header-span">About</span><br>Me
        </h2>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img class="about-me-photo" src="images/amit.jpg">
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p id="about-text">
          <span class="about-text-inner">
            I am passionate about Technology, Keen about Learning, Wanting to achieve more Knowledge. I believe that optimizing a solution is a much more important task than just finding one and implementing it.I look at systems and services as if there is still scope for leveraging more out of them whilst minimizing the resources or maintaining it at the same level. I am also interested in NLP and Machine Learning and keep looking for various ways where we could use them to improve the current systems and make them more efficient. Although I haven't done much, I do make sure that the wheel of learning keeps rolling and I learn something new each day.
          </span>
        </p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1 about-bracket-wrapper">
      <p class="about-me-right-bracket">
        }
      </p>
    </div>
  </div>
</section>

<section id="portfolio">
  <div>
    <div class="container-fluid">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="skills-header">
          Skills
        </h2>
      </div>
    </div>

    <div class="container-fluid skills-section">
      <div id="skills-section">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 skill-cards">
          <p class="skill-icon">
            <i class="fa fa-database" aria-hidden="true"></i>
          </p>
          <h3 class="skill-title">Software Architecture</h3>
          <p class="skill-description">
            Experienced in building secure, versioned, restful API's for mobile and web apps. Having built many Mobile first experiences, am profecient in front-end frameworks including Bootstrap, jQuery, AngularJS and Phone Gap.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 skill-cards">
          <p class="skill-icon">
            <i class="fa fa-desktop" aria-hidden="true"></i>
          </p>
          <h3 class="skill-title">Multi-Device Apps</h3>
          <p class="skill-description">
            Experienced in building secure, versioned, restful API's for mobile and web apps. Having built many Mobile first experiences, am profecient in front-end frameworks including Bootstrap, jQuery, AngularJS and Phone Gap.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 skill-cards">
          <p class="skill-icon">
            <i class="fa fa-flask" aria-hidden="true"></i>
          </p>
          <h3 class="skill-title">Testing & Fixing</h3>
          <p class="skill-description">
            Experienced in building secure, versioned, restful API's for mobile and web apps. Having built many Mobile first experiences, am profecient in front-end frameworks including Bootstrap, jQuery, AngularJS and Phone Gap.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="tech-stack">
  <div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <h2 class="tech-stack-header-header">
        Tech <span style="color:#5a5a5a;">Stack</span>
      </h2>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-1 col-sm-1 tech-stack-bracket-wrapper">
      <p class="tech-stack-bracket"> < </p>
    </div>
    <div class="col-lg-8 col-md-8 col-xs-10 col-sm-10 tech-stack-logos">
      <div class="container-fluid" style="margin-top:50px;">
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
          <p class="stack-logo">
            <i class="devicon-angularjs-plain"></i>
          </p>
          <p class="stack-name">AngularJs</p>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
          <p class="stack-logo">
            <i class="devicon-bootstrap-plain"></i>
          </p>
          <p class="stack-name">Bootstrap</p>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
          <p class="stack-logo">
            <i class="devicon-cplusplus-line-wordmark"></i>
          </p>
          <p class="stack-name">C++</p>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
          <p class="stack-logo">
            <i class="devicon-css3-plain"></i>
          </p>
          <p class="stack-name">CSS3</p>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
          <p class="stack-logo">
            <i class="devicon-django-line-wordmark"></i>
          </p>
          <p class="stack-name">Django</p>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
          <p class="stack-logo">
            <i class="devicon-grunt-line"></i>
          </p>
          <p class="stack-name">Grunt</p>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
          <p class="stack-logo">
            <i class="devicon-java-plain"></i>
          </p>
          <p class="stack-name">Java</p>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
          <p class="stack-logo">
            <i class="devicon-jquery-plain"></i>
          </p>
          <p class="stack-name">Jquery</p>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
          <p class="stack-logo">
            <i class="devicon-meteor-plain"></i>
          </p>
          <p class="stack-name">Meteor</p>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
          <p class="stack-logo">
            <i class="devicon-mongodb-plain"></i>
          </p>
          <p class="stack-name">MongoDB</p>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
          <p class="stack-logo">
            <i class="devicon-mysql-plain"></i>
          </p>
          <p class="stack-name">MySql</p>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
          <p class="stack-logo">
            <i class="devicon-nodejs-plain"></i>
          </p>
          <p class="stack-name">NodeJS</p>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
          <p class="stack-logo">
            <i class="devicon-php-plain"></i>
          </p>
          <p class="stack-name">PHP</p>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-4 col-sm-4">
          <p class="stack-logo">
            <i class="devicon-wordpress-plain"></i>
          </p>
          <p class="stack-name">Wordpress</p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-1 col-sm-1 tech-stack-bracket-wrapper">
      <p class="tech-stack-bracket tech-stack-bracket-right"> /> </p>
    </div>
  </div>
</section>

<section id="organizations">
  <div>
    <div class="container-fluid">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h2 class="organizations-header">
          Made a Difference
        </h2>
        <p class="organizations-description">
          Some of the amazing folks I have worked along, trying to make a difference and learning from them along the way.
        </p>
      </div>
    </div>

    <div class="container-fluid organizations-section">
      <div id="organizations-section">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 skill-cards">
          <p class="skill-icon">
            <img src="images/googledev.png" style="width:45%;">
          </p>
          <h3 class="organization-title">GDG - VIT Vellore</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 skill-cards">
          <p class="skill-icon">
            <img src="images/vit.png" style="width:100%;">
          </p>
          <h3 class="organization-title">VIT University</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 skill-cards">
          <p class="skill-icon">
            <img src="images/alfalogo.png" style="width:100%;">
          </p>
          <h3 class="organization-title">Alfa Infinity</h3>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
      <h2 class="section-title bottom_30 top_60 bottom_60"></h2>
  </div>
  <div class="container-fluid" style="padding-right:0px;margin-top: 70px;">
      <div class="shape-bg">
        <div class="col-md-6 col-sm-6 col-xs-12 contact-informations">
        </div>
        <form class="col-md-6 col-sm-6 col-xs-12 contact-form" method="POST" action="http://onurtavil.com/html/pancaro/demo2/mail.php">
            <div class="row">
                <h5 class="contact-titles bottom_30">
                  <span style="color: #d23870;">GET</span>
                  <span style="color: #d14a4d;"> IN</span>
                  <span style="color: #e75727;"> TOUCH</span>
                </h5>
                <input id="con_name" name="con_name" class="form-inp requie" autocomplete="false" type="text" placeholder="Name">
                <input id="con_email" name="con_email" class="form-inp requie" autocomplete="false" type="text" placeholder="Email">
                <textarea name="con_message" id="con_message" class="requie form-message" autocomplete="false" placeholder="Message" rows="8"></textarea>
                <input id="con_submit" class="site-btn top_20 bottom_20" type="submit" value="SEND A MESSAGE">
            </div>
        </form>
      </div>
    </div>
</section>
