<!DOCTYPE html>
<html>
  <head>
    <title>Amit Rai | A Full Stack Developer, Tech Enthusiast, Food Junkie & Music Lover</title>
    <meta charset="UTF-8">
    <link rel="icon" href="images/logo.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/magnific-popup.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <script src="https://use.fontawesome.com/0da7beda5c.js"></script>
    <!--STYLES END-->
  </head>

  <body>
    <div id="preloader">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>

    <header>
    	<div class="container-fluid">
        	<div class="logo"><h3><span style="color:#a4197f;font-weight:bold;">Amit</span> Rai</h3></div>
            <a href="#" class="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </header>

    <nav id="full-menu" class="style2">
        <div class="menu-container">
            <a href="#" class="menu-close">
              <span class="menu-close-icon">X</span>
            </a>
            <div class="menu-holder">
                <ul class="full-menu">
                    <li class="scroll">
                        <a href="#home">Home</a>
                    </li>
                    <li class="scroll">
                        <a href="#about">About Me</a>
                    </li>
                    <li class="scroll">
                        <a target="_blank" href="blog.html">Blog</a>
                    </li>
                    <li class="scroll">
                        <a href="#portfolio">Skills</a>
                    </li>
                    <li class="scroll">
                        <a href="#tech-stack">Tech Stack</a>
                    </li>
                    <li class="scroll">
                        <a href="#organizations">Worked With</a>
                    </li>
                    <li class="scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <%- body %>

    <footer>
      <div class="container footer">
          <div class="logo pull-left">
          </div>
          <div class="copyright">
            <p style="text-align:center">
              <a href="http://www.facebook.com/amit.rai1095" target="_blank"><i class="fa fa-facebook social-icons" aria-hidden="true"></i></a>
              <a href="http://github.com/amitrai1095" target="_blank"><i class="fa fa-github social-icons" aria-hidden="true"></i></a>
              <a href="http://in.linkedin.com/in/amitrai1095" target="_blank"><i class="fa fa-linkedin social-icons" aria-hidden="true"></i></a>
              <a href="http://twitter.com/rai1095" target="_blank"><i class="fa fa-twitter social-icons" aria-hidden="true"></i></a>
            </p>
            <p style="text-align:center"> Copyright © 2016 <span>Amit Rai</span> All rights Reserved.</p>
          </div>
      </div>
    </footer>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/TweenMax.min.js"></script>
    <script src="/js/dependencies/isotope.pkgd.min.js"></script>
    <script src="/js/dependencies/jquery-2.1.4.min.js"></script>
    <script src="/js/dependencies/jquery.magnific-popup.min.js"></script>
    <script src="/js/dependencies/main.js"></script>
    <script src="/js/dependencies/menu.js"></script>
    <script src="/js/dependencies/scroll.js"></script>
    <script src="/js/dependencies/tinymce.min.js"></script>
    <script src="/js/dependencies/typed.js"></script>
    <script src="/js/dependencies/vendor.min.js"></script>
    <!--SCRIPTS END-->

    <script type="text/javascript">
    	$(document).ready( function() {
    		$('#preloader').delay(350).fadeOut('slow');
    	});
      $(function(){
        $(".home-subtitle-roles").typed({
          strings: ["a Full Stack Developer", "a Tech Enthusiast", "a Music Lover", "a Food Junkie"],
          typeSpeed: 60,
          backSpeed:40,
          backDelay:1200,
          loop: true
        });
      });
    </script>
  </body>
</html>
