@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.ttf');
}
.no-padding{
  padding: 0px !important;
}
.no-side-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(130, 75, 162);
  border-radius: 5px;
}
body{
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-user-select: none;
  overflow: hidden;
  font-family: 'Roboto', sans-serif !important;
}
body:hover{
  cursor: default;
}
.titlebar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 35px;
  -webkit-app-region: drag;
  background-color: #fff;
  z-index: 10;
}
.menu-item{
  -webkit-app-region: no-drag;
  float: left;
  margin: 9px;
  color: #555;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 12px;
  cursor: pointer;
}
#file-menu{
  position: fixed;
  top: 35px;
  left: 0px;
  background-color: #fff;
  width: 145px;
  box-shadow: 0px 0px 20px #000;
  overflow: hidden;
  display: none;
  z-index: 9;
}
#file-menu p{
  line-height: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: sans-serif;
  width: 100%;
  border-bottom: 0.4px solid #e4e4e4;
  cursor: default;
}
#file-menu p:hover{
  color:#fff;
  background: #b32f1d;
}
.window-controls{
  padding: 8px;
  float: right;
  height: 30px;
  -webkit-app-region: no-drag;
}
.window-control-button{
  margin-left: 20px;
  width: 19px;
  cursor: pointer;
}
.album-banner-container{
  height: 250px;
  overflow: hidden;
  margin-top: 30px;
  box-shadow: 0px 0px 25px #696969;
}
.tint{
  position: fixed;
  top: 30px;
  left: 0px;
  width: 100vw;
  height: 250px;
  /*background: -webkit-linear-gradient(rgba(251,184,111,.7), rgb(130, 75, 162));*/
  background: rgba(91, 78, 234, 0.75);
}
.album-banner{
  width: 100vw;
  box-shadow: 0px 0px 10px #000;
  -webkit-filter: blur(10px);
}
.player{
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  height: 70px;
  /*background: rgba(130, 75, 162, 0.8);*/
  background: rgba(91, 78, 234, 0.8);
  padding-top: 25px;
  z-index: 100;
}
.player-background{
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  height: 70px;
  background-image: url('file:///E:/Newfolder/Tamasha-Bollywood-movie-Official-Trailer-Released.jpg');
  -webkit-filter: blur(10px);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
}
.player-font-icons{
  font-size: 20px !important;
  margin-top: 2px !important;
  color: #fff;
}
.volume-container{
  float: right !important;
}
.controls{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}
.repeat-control-icon{
  border: 1px solid rgba(255,255,255,0);
  padding: 5px;
  margin-top: -2px !important;
  border-radius: 30px;
  font-size: 16px !important;
  width: 30px;
  text-align: center;
  color: rgba(255,255,255,0.6);
}
.repeat-control-icon:hover{
  cursor: pointer;
}
input[type=range] {
  -webkit-appearance: none;
  margin-top: 12px;
  width: 60%;
  background: linear-gradient(to right, #fff, #fff 0%, #fff);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  /*background: #fff;
  background: linear-gradient(to right, red, #005555 0%, blue);*/
  border-radius: 25px;
  padding-top: 0px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #fff;
  height: 12px;
  width: 12px;
  border-radius: 7px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.0px;
}
.current-song-info{
  position: absolute;
  top: 80px;
  width: 100%;
}
.song-title{
  font-size: 26px;
  color: #fff;
  letter-spacing: 0px;
  text-align: left;
  line-height: 50px;
  margin-left: 130px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}
.artist-name{
  text-align: left;
  line-height: 0px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-left: 130px;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
}
.playlist-end-message{
  text-align: center;
  margin-top: 20vh;
  font-size: 16px;
  letter-spacing: 1px;
}
.current-playlist{
  overflow-y: auto;
}
.saved-playlist{
  display: none;
}
tr{
  height: 45px;
  font-size: 14px;
  text-align: center;
}
tbody tr:hover{
  cursor: pointer;
}
#file-options{
  position: absolute;
  top: 370px;
  right: 50px;
  background-color: #fff;
  width: 145px;
  box-shadow: 0px 0px 6px #bdbcbc;
  overflow: hidden;
  display: none;
}
#file-options p{
  line-height: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: sans-serif;
  width: 100%;
  border-bottom: 0.4px solid #e4e4e4;
  cursor: default;
  color: #656565;
}
#file-options p:hover{
  color:#fff;
  background: #b32f1d;
  cursor: pointer;
}
.side-menu{
  height: 100vh;
  background: #f9f9f9;
  z-index: 0;
  margin-top: 15px;
  padding-top: 30px !important;
}
.side-menu-item{
  width: 100%;
  color: #555;
  line-height: 45px;
  padding: 0px;
  margin-bottom: 0px;
  padding-left: 20px;
}
.side-menu-item:hover{
  background-color: #e4e4e4;
  cursor: pointer;
}
.side-menu-seperator{
  width: 90%;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px solid #b7b7b7;
}
.playlist-name-form{
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 300px;
  background: #fff;
  z-index: 999;
  width: 100%;
  box-shadow: 0px 0px 20px #7d7d7d;
  border: 1px solid #fff;
  -webkit-animation: slideUp 0.2s;
}
.playlist-name-form-hidden{
  position: fixed;
  bottom: -250px;
  left: 0px;
  height: 250px;
  z-index: 999;
  width: 100%;
  background: #fff;
  -webkit-animation: slideDown 0.4s;
}
.black-overlay{
  position: fixed;
  top: 33px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  -webkit-animation: fadeIn 0.2s;
}
.black-overlay-faded{
  position: fixed;
  top: 33px;
  left: 0px;
  background: rgba(0, 0, 0, 0);
  -webkit-animation: fadeOut 0.2s;
}
.playlist-form-header{
  text-align: center;
  margin-top: 40px;
}
#playlist-name-input{
  margin-top: 30px;
  width: 325px;
  padding: 6px;
  border: 1px solid #888;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
}
#playlist-name-submit{
  margin-top: 20px;
  width: 200px;
  height: 34px;
  border: none;
  color: #fff;
  background: rgb(208, 71, 52);
  border-radius: 5px;
  outline: none;
}
.error-message{
  text-align: center;
  margin-top: 35px;
  color: #d04734;
  display: none;
}
@media (min-width: 768px){
  .side-menu {
      width: 19.66666667% !important;
  }
  .current-playlist {
      width: 80.333333% !important;
  }
  .control-container{
      width: 4.333333% !important;
  }
}
@media (min-width: 1200px){
  .control-container{
      width: 4.333333% !important;
  }
}
@media (min-width: 992px){
  .control-container{
      width: 4.333333% !important;
  }
}
@keyframes slideUp {
  from{
    bottom: -250px;
  }
  to{
    bottom: 0px;
  }
}
@keyframes slideDown {
  from{
    bottom: 0px;
  }
  to{
    bottom: -250px;
  }
}
@keyframes fadeIn {
  from{
    background: rgba(0, 0, 0, 0);
  }
  to{
    background: rgba(0, 0, 0, 0.3);
  }
}
@keyframes fadeOut {
  from{
    background: rgba(0, 0, 0, 0.3);
  }
  to{
    background: rgba(0, 0, 0, 0);
  }
}
