<html>
  <head>
    <meta charset="UTF-8">
    <title>Player</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  </head>
  <body>
    <section class="titlebar">
      <p class="menu-item" id="file-menu-option">
        File
      </p>
      <div class="window-controls">
        <img src="../assets/images/controls/window/min.png" class="window-control-button" id="minimize">
        <img src="../assets/images/controls/window/max.png" class="window-control-button" id="maximize">
        <img src="../assets/images/controls/window/close.png" class="window-control-button" id="close">
      </div>
    </section>
    <div class="wrapper">

      <img id="album-cover" src="file:///E:/22kingfisher-sobhita-dhulipala.jpg">

      <section class="player">
        <div class="container-fluid">
          <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
            <a href="#" title="" class="controls">
              <img src="../assets/images/controls/player/play.png" id="play-button" style="height:25px;" />
            </a>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <input type="range" id="seek" value="0" max=""/>
          </div>
          <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
            <a href="" title="" class="controls">
              <img src="../assets/images/controls/player/previous.png" style="height:25px;">
            </a>
          </div>
          <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
            <a href="" title="" class="controls">
              <img src="../assets/images/controls/player/next.png" style="height:25px;">
            </a>
          </div>
        </div>
      </section>
    </div>

    <section id="file-menu">
      <p id="open-file-btn">Open</p>
      <p id="close-file-btn">Close</p>
      <p id="exit-btn">Exit</p>
    </section>
    <script type="text/javascript">
      window.$ = window.jQuery = require('../assets/js/jquery-2.1.4.min.js');
    </script>
    <script type="text/javascript" src="../assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="../assets/js/base64.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
  </body>
</html>
