<html>
  <head>
    <meta charset="UTF-8">
    <title>Player</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  </head>
  <body onresize="resizeContainer()" onload="resizeContainer()">
    <section class="titlebar">
      <p class="menu-item" id="file-menu-option">
        File
      </p>
      <div class="window-controls">
        <img src="../assets/images/controls/window/min.png" class="window-control-button" id="minimize">
        <img src="../assets/images/controls/window/max.png" class="window-control-button" id="maximize">
        <img src="../assets/images/controls/window/close.png" class="window-control-button" id="close">
      </div>
    </section>

    <div class="album-banner-container">
      <img class="album-banner" id="album-banner" src="file:///E:/Tamasha-Bollywood-movie-Official-Trailer-Released.jpg" />
      <div class="tint">
      </div>
      <div class="container-fluid current-song-info">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-8">
          <p style="font-size:14px;margin-left:130px;color:#fff;letter-spacing:1px;">Now Playing</p>
          <p class="song-title"><span id="song-title">Heer To Badi Sad</span> - <span id="song-album">MS Dhoni</span></p>
          <p class="artist-name" id="song-artist">Armaan Malik</p>
        </div>
      </div>
      <div class="player-background" id="player-background">
      </div>
      <div class="container-fluid player">
        <div class="container-fluid">
          <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
            <a href="#" title="" class="controls">
              <img src="../assets/images/controls/player/play.png" id="play-button" style="height:25px;" />
            </a>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <input type="range" id="seek" value="0" max=""/>
          </div>
          <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
            <a href="" title="" class="controls">
              <img src="../assets/images/controls/player/previous.png" style="height:25px;">
            </a>
          </div>
          <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
            <a href="" title="" class="controls">
              <img src="../assets/images/controls/player/next.png" style="height:25px;">
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- <p class="playlist-end-message">Hey, looks like you've reached the end of the playlist. Let's add some more songs!</p> -->
    <div class="container-fluid no-padding">
      <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 side-menu no-padding">
        <p class="side-menu-item">All Songs</p><hr class="side-menu-seperator">
        <p class="side-menu-item">Current Playlist</p>
      </div>
      <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 current-playlist no-padding" id="current-playlist">
        <table style="width:100%;margin-top:30px;" class="table-hover">
          <thead>
            <tr>
              <td>Name</td>
              <td>Album</td>
              <td>Artist</td>
            </tr>
          </thead>
          <tbody id="playlist-body">
            <tr>
              <td>Heer To Badi Sad</td>
              <td>Tamasha</td>
              <td>Amaal Malik</td>
            </tr>
            <tr>
              <td>Tum Jo Aaye</td>
              <td>Once Upon a Time in Mumbai</td>
              <td>Rahat Fateh Ali Khan</td>
            </tr>
            <tr>
              <td>Tum Se Hi</td>
              <td>Jab We Met</td>
              <td>Amaal Malik</td>
            </tr>
            <tr>
              <td>Mera Mann</td>
              <td>Nautanki Saala</td>
              <td>Ayushmann Khuranna</td>
            </tr>
            <tr>
              <td>Zinda</td>
              <td>Bhaag Milkha Bhaag</td>
              <td>Shankar Mahadevan</td>
            </tr>
            <tr>
              <td>Yeh Fitoor Mera</td>
              <td>Fitoor</td>
              <td>Arjit Singh</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <section id="file-menu">
      <p id="open-file-btn">Open</p>
      <p id="add-file-btn">Add</p>
      <p id="close-file-btn">Close</p>
      <p id="exit-btn">Exit</p>
    </section>
    <script type="text/javascript">
      window.$ = window.jQuery = require('../assets/js/jquery-2.1.4.min.js');
    </script>
    <script type="text/javascript" src="../assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="../assets/js/base64.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
  </body>
</html>
